    html {
        height: 100%;
        width: 100%;
    }
    
    body {
        background: linear-gradient(to left, cyan, teal, yellowgreen) no-repeat;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    }
    
    h1 {
        text-align: center;
    }
    
    #Calculadora {
        background-image: linear-gradient(rgb(127, 16, 192), rgb(255, 0, 242));
        height: 370px;
        width: 400px;
        margin: auto;
        margin-top: 150px;
    }
    
    input {
        background-color: rgb(62, 1, 102);
        color: rgb(255, 255, 255);
        margin-left: 25%;
        height: 60px;
        width: 50px;
        border: powderblue;
        border-radius: 20%;
    }
    
    #caixaCalculo {
        height: 40px;
        width: 192px;
        border-radius: 5%;
    }
    
    #botão {
        margin-left: -1%;
    }
    
    #botãoC {
        background-color: rgb(131, 4, 131);
    }
    
    #botãoEspecial {
        margin-left: -1%;
        background-color: rgb(131, 4, 131);
    }
    
    @media only screen and (max-device-width: 900px) {
        body {
            width: 150%;
            height: 150%;
        }
        #Calculadora {
            width: 50%;
            margin-right: 50%;
            margin-left: 10%;
        }
        input {
            margin-left: 15%;
        }
    }