body{
    background-image: linear-gradient(to left, cyan, teal, yellowgreen);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.CC{
    background-image: linear-gradient(rgb(127, 16, 192), rgb(255, 0, 242));
    height: 350px;
    width: 400px;
    margin-left: 40%;
    margin-right: 40%;

}
h1{
    text-align: center;
}
.caixaDiCria{
    margin-left: 0%;
}
#caixa{
    height: 40px;
    width: 192px;
}
input{
    margin-left: 25%;
}
#botao7{
    height: 60px;
    width: 50px;
}
#botao8{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botao9{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoDivisao{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botao4{
    height: 60px;
    width: 50px;
}
#botao5{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botao6{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoVezes{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botao1{
    height: 60px;
    width: 50px;
}
#botao2{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botao3{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoMenos{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoC{
    height: 60px;
    width: 50px;
}
#botao0{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoIgual{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}
#botaoMais{
    margin-left: -1%;
    height: 60px;
    width: 50px;
}